.page-skills {
    background-color: black;
    background-attachment: fixed;
}

#skills-header {
    color: white;
}

.skills {
    height: 155px;
    width: 155px;
    margin-left: 12px;
    outline-color: white;
}


