.page-skills {
    background-color: black;
    background-attachment: fixed;
}

#skills-header {
    color: white;
}

.skills {
    height: 125px;
    width: 125px;
    margin-left: 12px;
    outline-color: white;
}

.section-subtitle {
    font-size: 22pt !important;
    color: green;
}



